body{background-color: #000;
      color:#ccc;
      font-family: 'Muli', sans-serif;}

#mapa-div, #bar-plot-div, #partidos-div {margin: 0 auto; width:100%;}


.barrita{cursor:pointer;}
.dpto {fill : #ccc;}
.dpto:hover {fill: #ff6600;}
.depto-borde {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-width: 1;}
.colombia-borde{
  stroke: #000;
  stroke-width: 3;
  stroke-linejoin: round;
}
